.Scopes form {
    padding-bottom: 15px;
  }

.maincrminput:read-only {
  border-color:rgb(0, 123, 255);
  background-color: rgb(224, 243, 255);
}

.maincrmtextarea:read-only {
  height: 200px;
  border-color:rgb(0, 123, 255);
  background-color: rgb(224, 243, 255);
}

.maincrmselect:disabled {
  border-color:rgb(0, 123, 255);
  background-color: rgb(224, 243, 255);
}

.servicescrminput:read-only {
  border-color: rgb(41, 167, 69);
  background-color: rgb(216, 247, 213);
}

.servicescrmselect:disabled {
  border-color: rgb(41, 167, 69);
  background-color: rgb(216, 247, 213);
}

.mainsyncablecrminput {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 123, 255); 
  font-weight: bold; 
}

.servicessyncablecrminput {
  color: rgb(255, 255, 255);
  background-color: rgb(41, 167, 69); 
  font-weight: bold;
}

.preserveoriginaltextformat {
  white-space: pre-line;
}

.badgeheader{
  font-size: 15px;
  vertical-align: top;
}
